img.storyfilter-thumb {
	margin: 0 5px 5px 0;
	border: 1px solid #000000;
}

#storyfilter-popup {
	background-color: #000000;
	position: absolute;
	left: 100px;
	top: 100px;
	border: 2px solid #000000;
	width: 800px;
	z-index: 101;
	background-color: #000000;
}

#storyfilter-popup-close-button {
	position: absolute;
	z-index: 103;
	cursor: pointer;
}

#storyfilter-overlay {
	position: absolute;
	background-color: #000000;
	width: 804px;
	z-index: 102;
	opacity: 0.75;
	filter: alpha(opacity =   75);
	-moz-opacity: 0.75;
}

#storyfilter-overlay .storyfilter-byline {
	color: #FFFFFF;
	font-size: 9pt;
	text-align: right;
	padding: 5px;
}

#storyfilter-overlay .storyfilter-cutline {
	color: #FFFFFF;
	font-size: 10pt;
	text-align: center;
	padding: 5px;
}

#storyfilter-background {
	display: none;
	position: fixed;
	_position: absolute; /* hack for internet explorer 6*/
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: #000000;
	border: 1px solid #cecece;
	z-index: z-index :   100;
}

.storyfilter-slideshow {
	background-color: #000000;
	border: 1px solid #000000;
	margin: 10px 0;
	display: none;
}

.storyfilter-slideshow-images {
	width: 410px;
	height: 310px;
	overflow: hidden;
}

.storyfilter-slideshow-image img {
	z-index: 50;
}

.storyfilter-slideshow-image-blurb {
	background-color: #000000;
	height: 50px;
	padding: 10px;
	position: relative;
	top: -70px;
	opacity: 0.75;
	filter: alpha(opacity =   75);
	-moz-opacity: 0.75;
	z-index: 51;
	cursor: pointer;
}

.storyfilter-slideshow-image-text {
	color: #FFFFFF;
	height: 50px;
	padding: 10px;
	position: relative;
	top: -140px;
	z-index: 52;
	cursor: pointer;
}

.storyfilter-slideshow-image-text .title {
	font-size: 10pt;
	font-weight: bold;
}

.storyfilter-slideshow-image-text .leadin {
	font-size: 8pt;
}

.storyfilter-slideshow-controls {
	background-image:
		url('/sites/all/modules/storyfilter/controls-background.png');
}

.storyfilter-slideshow-controls table {
	width: 100%;
}

.storyfilter-slideshow-controls table tbody tr td {
	text-align: center;
	height: 25px;
	vertical-align: middle;
}

.storyfilter-slideshow-controls table tbody tr td.control {
	font-size: 10pt;
	color: #FFFFFF;
	width: 20px;
	cursor: pointer;
}

.storyfilter-slideshow-controls table tbody tr td div.numbers {
	background-color: #000000;
	padding: 2px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.storyfilter-slideshow-controls table tbody tr td div.numbers span {
	font-size: 8pt;
	color: #FFFFFF;
	cursor: pointer;
}

.storyfilter-slideshow-controls table tbody tr td div.numbers span.selected
	{
	color: #E8CE27;
}

.storyfilter-slideshow-controls table tbody tr td div.numbers span:hover
	{
	color: #E8CE27;
}

.storyfilter-subsection-header {
	margin: 10px 0 5px 0;
	padding: 2px 5px;
	background-color: #BBBBBB;
	color: #FFFFFF;
	font-size: 9pt;
	font-weight: bold;
	letter-spacing: 1px;
	clear: both;
}

.storyfilter-more {
	padding: 6px 0 10px 0;
	text-align: right;
}

.storyfilter-more span {
	font-size: 11pt;
}

.storyfilter-more a {
	font-weight: bold;
}